<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>How many numbers do you wish to generate?</h1>
    <form action="/get" method="get">
      <input type="input" name="number" id="number" />
      <input type="submit" value="Generate">
    </form>
    <br>
    <p th:if="${errorMessage != null}" style="color: red;">[[${errorMessage}]]</p>
  </body>
</html>
